h1 {
	text-align: center;
	font-family: 'Libre Baskerville', serif;
}

body {
	background: #fff;
}
#todo-list {
	width: 500px;
	margin: 60px auto;
}
.border {
	border-radius: 10px;
	padding: 10px 20px;
	margin-bottom: 10px;
}

form {
	margin-bottom: 60px;
}

ul {
	max-width: 550px;
}

form input {
	margin-right: 16px;
}
.list-group-item {
	font-family: 'Libre Baskerville', serif;
}

.button-action {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 5px;
}

.task-counter {
	margin-bottom: 5px;
	padding: 5px;
}

#todo-text{
	font-size: 24px;
	
}

.form-check {
	display: flex;
	margin: 10px 0;
	margin-bottom: 45px;

}

.clear{
	margin-top: 15px;
	margin-bottom: 5px;
	margin-right: 50px;
}